.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
commcore/settings/local.py
commcoredb
node_modules
venv
.venv
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
commcore/collect_static